@model IEnumerable<GetNoteVM>

@{
    ViewData["Title"] = "View1";
}

<h1>Kayıt Listesi</h1>

<p>
    <a asp-action="CreateNote">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Date
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>

            <td>
                <a asp-action="UpdateNote" asp-route-id="@item.Id">Edit</a> |
              
                <a asp-action="DeleteNote" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
